nodered/data/flows.json
[
    {
        "id": "7a45013094ff9e41",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
  
   
    {
        "id": "1f8bde3686ef87b9",
        "type": "influxdb",
        "hostname": "172.22.0.3",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "RaspberryStack",
        "usetls": false,
        "tls": "2570cde888916c12",
        "influxdbVersion": "1.8-flux",
        "url": "http://172.18.0.5:8086",
        "rejectUnauthorized": false
    },
    {
        "id": "fbb1f7aec07908d1",
        "type": "mqtt-broker",
        "name": "TTN MQTT",
        "broker": "au1.cloud.thethings.network",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b3ec5f3fde5bf7d5",
        "type": "mqtt in",
        "z": "7a45013094ff9e41",
        "name": "",
        "topic": "v3/matty0005-battery-monitor@ttn/devices/eui-463638383512923c/up",
        "qos": "2",
        "datatype": "auto",
        "broker": "fbb1f7aec07908d1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 870,
        "y": 1200,
        "wires": [
            [
                "e7b3cf3f6da03e63"
            ]
        ]
    },
    {
        "id": "3dbe0f52f2a8e430",
        "type": "base64",
        "z": "7a45013094ff9e41",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 1460,
        "y": 1200,
        "wires": [
            [
                "765ddf96e826ec8f"
            ]
        ]
    },
    {
        "id": "e7b3cf3f6da03e63",
        "type": "json",
        "z": "7a45013094ff9e41",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1250,
        "y": 1200,
        "wires": [
            [
                "3a4d66bc21d9f257"
            ]
        ]
    },
    {
        "id": "3a4d66bc21d9f257",
        "type": "function",
        "z": "7a45013094ff9e41",
        "name": "",
        "func": "if (msg.payload[\"uplink_message\"][\"frm_payload\"] != undefined) {\n    msg.payload = msg.payload[\"uplink_message\"][\"frm_payload\"];\n    \n    return msg\n}\nreturn null\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 1080,
        "wires": [
            [
                "3dbe0f52f2a8e430"
            ]
        ]
    },
    {
        "id": "08c02e5a68907f01",
        "type": "debug",
        "z": "7a45013094ff9e41",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1910,
        "y": 1120,
        "wires": []
    },
    {
        "id": "765ddf96e826ec8f",
        "type": "function",
        "z": "7a45013094ff9e41",
        "name": "",
        "func": "var data = {\n    adc_raw1: msg.payload[0] << 8 | msg.payload[1],\n    adc_raw2: msg.payload[2] << 8 | msg.payload[3],\n    adc_raw3: msg.payload[4] << 8 | msg.payload[5],\n    adc_raw4: msg.payload[6] << 8 | msg.payload[7]\n}\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 1080,
        "wires": [
            [
                "20455b5ec56e18ee",
                "71b84435204815fa"
            ]
        ]
    },
    {
        "id": "20455b5ec56e18ee",
        "type": "function",
        "z": "7a45013094ff9e41",
        "name": "",
        "func": "const BIT_COUNT = 12\nconst volt_factor1 = 15.62\nconst volt_factor2 = 15.62\nconst volt_factor3 = 15.62\nconst volt_factor4 = 15.62\n\nvar data = {\n    voltage_1: msg.payload.adc_raw1 / (2 ** BIT_COUNT) * volt_factor1,\n    voltage_2: msg.payload.adc_raw2 / (2 ** BIT_COUNT) * volt_factor2,\n    voltage_3: msg.payload.adc_raw3 / (2 ** BIT_COUNT) * volt_factor3,\n    voltage_4: msg.payload.adc_raw4 / (2 ** BIT_COUNT) * volt_factor4\n}\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 1200,
        "wires": [
            [
                "08c02e5a68907f01"
            ]
        ]
    },
    {
        "id": "71b84435204815fa",
        "type": "debug",
        "z": "7a45013094ff9e41",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1790,
        "y": 1040,
        "wires": []
    }
]